<!DOCTYPE html>
<html>
	{{> partials/head }}
	<body>
		{{> partials/header }}
		<div id="main" class="container">
      <div id="team-cover">
	<span>
		Conosciamo la tecnologia, ergo, abbiamo i superpoteri.
	</span>
</div>
<header id="team-header">
	<h1>
		CodicePlastico è un grande piccolo team<br>
		di software engineer
	</h1>
	<p>
		Nel nostro team c’è spazio solo per chi ha una passione sfrenata per la tecnologia e per la perfezione. Siamo 7 sviluppatori, ci piace molto lavorare in squadra, ma diamo il massimo anche da soli, immersi nella nostra musica preferita.
	</p>
	<p>
		Crediamo fortemente nella condivisione delle informazioni e la nostra giornata tipo inizia sempre con uno standup meeting di gruppo. La formazione è un altro elemento fondamentale della vita aziendale: dedichiamo molto tempo a capire, conoscere e provare nuove tecnologie per migliorare il modo in cui scriviamo software.
	</p>
</header>
<div class="team-member-container">
  {{> partials/team-member}}
</div>
			{{> partials/call-to-action }}
		</div>
		{{> partials/footer }}
	</body>
</html>
